[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true, path = "./src"}
fastapi = "*"
uvicorn = "*"
mangum = "*"
numba = "*"
numpy = "*"
matplotlib = "*"
fabio = "*"
scipy = "*"
python-multipart = "*"

[requires]
python_version = "3.8"
